<div class="align-center">
  <div class="center-block">
    <h1>Password Generator</h1>
    <label class="label-size">Enter Password length</label>
    <input type="number" class="ml-10" [(ngModel)]="passwordLength">
    <br>
    <span *ngIf="showWarning" class="danger">enter values between 8 and 32</span>
    <div class="align-check">
      <span class="checkbox-container" *ngFor="let checkbox of checkboxes">
        <input type="checkbox" (change)="updateCheckboxValue($event)" id="{{checkbox.id}}"
          [checked]="checkbox.checked" />
        <label class="checkbox" for="{{checkbox.id}}">{{checkbox.label}}</label>
      </span>
    </div>
    <button class="button" (click)="generatePassword()">Geneate Password</button>
    <div *ngIf="newPassword.length>0" class="info">
      <p class="padding-10"><strong>New Password:</strong> {{newPassword}}</p>
    </div>
  </div>
</div>
